*.h5
*.keras
*.pkl
*.png
FINISHED_V7/*
!FINISHED_V7/ours
!FINISHED_V7/ours_2
!FINISHED_V7/ours_3
!FINISHED_V7/mistakes
!FINISHED_V7/DronePrint
!FINISHED_V7/DroneNoiseDatabase
!FINISHED_V7/Drone-detection-dataset
!FINISHED_V7/DroneAudioDataset
!FINISHED_V7/Dregon
!FINISHED_V7/all_drone_noises

!FINISHED_V7/drone-audio-detection
!FINISHED_V7/esc_data
!FINISHED_V7/